.main {
  flex-grow: 1;
  overflow-x: hidden;
}

.main::before {
  background: var(--bg28) repeat-y;
  background-size: contain;
  width: calc(4px / var(--resolution))
}

.main::after {
  background-image:
    var(--bg27),
    var(--bg31),
    var(--bg34),
    var(--bg36),
    var(--bg39),
    var(--bg32);
  background-position-y:
    0,
    calc(22px / var(--resolution)),
    calc(50% + 22px * var(--resolution)),
    calc(100% - 22px * var(--resolution)),
    100%,
    0;
  background-repeat:
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    repeat;
  background-size: contain;
  width: calc(19px / var(--resolution));
}

.content {
  --border-color: #9eb6ce;
  display: grid;
  grid-template-columns: calc(33px / var(--resolution)) auto;
  grid-template-rows: calc(16px / var(--resolution)) repeat(20, auto);
  max-width: 100%;
  overflow: auto;
  position: relative;
  width: 100%;
}

#cell-B,
#cell-C,
.cell.empty {
  display: none;
}

:global(.self-destruction) .content {
  overflow: hidden;
}

.content p {
  margin: .5em 1.5em;
  max-width: 80vw;
}


@media screen and (min-width: 90rem) {
  .content {
    grid-template-columns: calc(33px / var(--resolution)) auto 50rem auto;
  }

  .content p {
    font-size: 1.25em;
  }

  #cell-B,
  #cell-C,
  .cell.empty {
    display: block;
  }

  #cell-A1 {
    grid-column: span 3;
  }

  #cell-B1,
  #cell-C1 {
    display: none;
  }
}

.col {
  background: #e4ecf7;
  border: solid 1px var(--border-color);
  border-left: none;
}

.cell {
  background-color: #fff;
  border: solid 1px #d0d7e5;
  border-left: none;
  padding: 0;
}

.cell0 {
  background: var(--bg25) no-repeat;
  background-size: contain;
}

.row {
  background-image: linear-gradient(#f9fcfd, #d3dce9);
  border: solid 1px var(--border-color);
  border-left: none;
  text-align: center;
}

.col,
.row {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 70rem) {

  .cell {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

:global(.creu5) .col,
:global(.creu5) .cell,
:global(.creu5) .row {
  transition-property: box-shadow, transform, filter;
  transition-duration: .75s;
  transition-timing-function: cubic-bezier(.95, .05, .8, .04);
}

:global(.self-destruction) .col,
:global(.self-destruction) .cell,
:global(.self-destruction) .row {
  box-shadow: 0 0 50px rgba(0, 0, 0, .15), 0 0 20px rgba(0, 0, 0, .1), 0 0 10px rgba(0, 0, 0, .05);
}


.col,
.cell {
  border-bottom: none;
}

.col::before,
.row::before {
  content: attr(data-label);
  font-size: calc(12px / var(--resolution));
  line-height: 1;
}